[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = {extras = ["dotenv", "email"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
sqlalchemy = "*"
alembic = "*"
python-jose = "*"
psycopg2 = "*"
uvicorn = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
dev = "cd ./app & uvicorn main:app --reload"
db = "docker-compose up -d --build db"
db-down = "docker-compose down"
production = "docker-compose up -d --build"
migrate = "cd ./app & alembic upgrade head"